@import "../styles/globals.css";

@layer base {
  :root {
    @apply font-sans;
  }

  body {
    @apply grid place-items-center min-w-[320px] min-h-screen relative m-0 bg-background text-foreground;
  }
}

.separator-vertical {
  position: relative;
}

.separator-vertical:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -5px;
  width: 10px;
  background-color: red;
}

.separator-horizontal {
  position: relative;
}

.separator-horizontal:after {
  position: absolute;
  left: 0;
  right: 0;
  top: -5px;
  height: 10px;
  background-color: red;
}

@media (prefers-reduced-motion) {
  *,
  ::before,
  ::after {
    animation: none !important;
  }
}
